<%= form_for(@trending_place) do |f| %>
  <% if @trending_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trending_place.errors.count, "error") %> prohibited this trending_place from being saved:</h2>

      <ul>
      <% @trending_place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :is_delete %><br>
    <%= f.text_field :is_delete %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
